nav(class="p-2")
  ul(class="flex") 
    li
      a(href="/products", class="rounded-md py-1 px-4 hover:bg-blue-500 focus:bg-blue-500") Products overview
    li
      a(href="/products/new", class="rounded-md py-1 px-4 hover:bg-blue-500 focus:bg-blue-500") Add new product
    li
      a(href="/products/categories", class="rounded-md py-1 px-4 hover:bg-blue-500 focus:bg-blue-500") Categories
    li
      a(href="/products/categories", class="rounded-md py-1 px-4 hover:bg-blue-500 focus:bg-blue-500") New category